@page
@using Services
@model IndexModel
@{
    var getUser = new GetUsers();
    var users = getUser.Get();
    var cont = 1;
/*
    foreach(var user in users)
    {
      <p>@user.FullName</p>   
      <p>@user.Username</p>
      <p>@user.Email</p>
      <p>------------------------------------------------------</p>
    }
    ViewData["Title"] = "Home page";
    */
}

<div>
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Usuário</th>
                <th scope="col">Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in users)
            {
                <tr>
                    <th scope="row">@cont</th>
                    <td>@user.FullName</td>
                    <td>@user.Username</td>
                    <td>@user.Email</td>
                </tr>
                cont++;
            }
            
           
        </tbody>
    </table>
</div>

